@model VocaMvc.Models.Voca



@if (@Model.Id == 0)
{
    ViewData["Title"] = "単語帳-追加";
    <h1 style="background-color:#e65100; color:white; font-weight:500;width:645px;">単語帳-追加</h1>
    <br>
}
else
{
    ViewData["Title"] = "単語帳-更新";
    <h1 style="background-color:#e65100; color:white; font-weight:500;width:645px;">単語帳-更新</h1>
    <br>
}

<div class="form-body" style="line-height:0;">

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            <input asp-for="Word" class="form-control" style="width:250px;" placeholder="単語" />
            @Html.ValidationMessageFor(model => model.Word)
        </div>



        @if (@Model.Id == 0)
        {
            <div class="form-group" style="display:none">
                <label asp-for="EnrollmentDate" class="control-label"></label>
                @Html.TextBox("EnrollmentDate", DateTime.Now, new { @readonly = "readonly", @style = "border: none;" })
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="EditDate" class="control-label"></label>
                更新日: @Html.TextBox("EditDate", DateTime.Now, new { @readonly = "readonly", @style = "border: none;" })
                <span asp-validation-for="EditDate" class="text-danger"></span>
            </div>
        }
        else
        {
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label"></label><br>
                作成日:@Html.TextBox("EnrollmentDate", Model.EnrollmentDate, new { @readonly = "readonly", @style = "border: none;" })
                <br>
                更新日: @Html.TextBox("EditDate", DateTime.Now, new { @readonly = "readonly", @style = "border: none; margin-bottom:0;" })
                <span asp-validation-for="EditDate" class="text-danger"></span>
            </div>
        }
        <div class="form-group">
            <input asp-for="Meaning" class="form-control" style="width:500px;" placeholder="意味" />
            @Html.ValidationMessageFor(model => model.Meaning)

        </div>

        <div class="form-group" style="float:left;">
            <a asp-action="Index" class="btn btn-primary" style="display: block; border:0; outline:0;background-color: #BDBDBD; width:70px;position: relative; left:491px;">戻る</a>
        </div>
        <div class="form-group" style="float:left;">
            <input type="submit" value="確定" class="btn btn-primary" style="display: block; border:0; outline:0;background-color: #f33513; width:70px;position: relative; left:506px;" />
        </div>

    }

</div>

