@model IEnumerable<VocaMvc.Models.Voca>

@{
    ViewData["Title"] = "単語帳";
}

@*<h1>単語帳</h1>*@
    <h1 style="background-color:#f33513; color:white; font-weight:500">単語帳</h1>

@foreach (var item in Model)
{
    <div>
        <div style="display:none">
            @Html.DisplayFor(modelItem => item.Id)
        </div>
        <h1>
            @Html.DisplayFor(modelItem => item.Word)
        </h1>

        <div>
            作成日: @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </div>

        <div>
            更新日: @Html.DisplayFor(modelItem => item.EditDate)
        </div>
        <br>
        <div>
            @Html.DisplayFor(modelItem => item.Meaning)
        </div>
        <br>
        <div>
            <a href="@Url.Action("DeleteConfirm","Voca",new{ id = item.Id})" class="btn-danger" style="display: block; background-color: #f33513; width: 50px;">削除</a>
            <br>
            <a href="@Url.Action("AddOrEdit","Voca",new{ id = item.Id})" class="btn-danger" style="display: block; background-color: #f33513; width: 50px;">更新</a>

        </div>
    </div>
    <hr />
}
<br>
<p>
    <a href="@Url.Action("AddOrEdit","Voca")" class="btn-danger" style="display: block; background-color: #f33513; height:25px; width: 1100px; text-align:center;font-weight:500;">+</a>
</p>





