@model IEnumerable<VocaMvc.Models.Voca>

@{
    ViewData["Title"] = "単語帳";
}

@*<h1>単語帳</h1>*@
<h1 style="background-color:#e65100; color:white; font-weight:500; width:645px;">単語帳</h1>

@foreach (var item in Model)
{
    <div>
        <div style="display:none">
            @Html.DisplayFor(modelItem => item.Id)
        </div>
        <h1>
            @Html.DisplayFor(modelItem => item.Word)
        </h1>

        <div>
            作成日: @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </div>

        <div>
            更新日: @Html.DisplayFor(modelItem => item.EditDate)
        </div>
        <br>
        <div>
            @Html.DisplayFor(modelItem => item.Meaning)
        </div>
        <br>


        <div style="margin:-58px;">
            <a asp-action="DeleteConfirm" asp-route-id="@item.Id" class="btn btn-primary" style="display: block; border:0; outline:0; background-color: #e65100; width:70px;position: relative; left:634px;bottom:100px;">削除</a>
            <br>
            <a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-primary" style="display: block; border:0; outline:0; background-color: #e65100; width:70px;position: relative; left:634px;bottom:110px;">更新</a>
        </div>
    </div>
    <hr />
}
<br>
<p>
    <a href="@Url.Action("AddOrEdit","Voca")" class="btn-danger" style="display: block; background-color: #e65100; height:48px; width: 645px; text-align:center;font-weight:500;font-size:30px;">+</a>
</p>





